<!DOCTYPE html>
<html>
<head>
  <title>Stalk Market</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
    <script src="http://localhost:3808/webpack-dev-server.js"></script>
</head>
<body>

<%= yield %>
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    © 2016 Stalk Market
   	<a class="grey-text text-lighten-4 right" href="/about_us">About Us</a>
    </div>
  </div>
</footer>
<%= javascript_include_tag *webpack_asset_paths('application') %>
</body>
</html>
