<!DOCTYPE html>
<html>
<head>
  <title>Stalk Market</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj9cQqRUC1qwXogm5Eck2zJr7V7yWc4YQ&libraries=geometry,places,visualization">
  </script>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <meta content="notranslate" name="google"/>
  <meta content="en_US" http-equiv="Content-Language"/>
  <%= csrf_meta_tags %>
  <% if Rails.env.development? %>
    <script src="http://localhost:3808/webpack-dev-server.js"></script>
  <% end %>
  <!-- Materialize icons fontset -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script src="http://localhost:3808/webpack-dev-server.js"></script>
</head>
<body>

  <%= yield %>

  <%= javascript_include_tag *webpack_asset_paths('application') %>
</body>
</html>
